* {
    margin: 0;
    padding: 70;
    box-sizing:border-box;
    
}

body {
    display: flex;
    position:absolute;
    margin-bottom: 50px;
    margin-left: 35%;
    justify-content: center;
    align-items: center;
    height: 106vh;
    background-color:  #303f4f;
    color: white;
    background-image: url(forgot-svg.svg) ;
    background-position:contain;
    background-size:1550px 760px;
}

.container {
    position: contain;
    margin-top: 10px;
    margin-bottom: 70px;
    display:flexbox;
    justify-content: center;
    align-items: center;
    
}



h1{
    align-items: centre;
font-family: Poppins;
margin-bottom: 60px;
font-size: 50px;
font-weight: 300;
line-height: 74px;
text-align: center;

}

.reset-box {
    width:395px;
    padding: 10px 20px 10px 20px;
    gap: 10px;
    border-radius: 10px;
    opacity: 0px;
    background: #FFFFFF;    
}



.reset-box form {
    display: flexbox;
    flex-direction: column;
    color: #58A4B0;
}

.reset-box input {
    padding: 20px;
    height: 10px;
    width: 330px;
    margin: 15px;
    color: #58A4B0;
    border-radius: 15px;
    border: 1px solid #2F555A;
    outline: none;
}

.reset-box button {
    padding: 10px;
    align-items: center;
    margin-left: 50px;
    width: 260px;
    background: #58A4B0;
    color: white;
    height: 40px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
   
}
.reset-box label{
    color: #58A4B0 ;
    font-weight: bolder;
    font-size: 25px;
   
}

