* {

    padding: 7;
    box-sizing: border-box;
    top: 0;
    left: 0;
    position:relative;
}

body {
    font-family: Arial, sans-serif;
    background-color: #303f4f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    position: absolute;
    max-width: 800px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 60px;
    margin-left: 180px;
    
}

.login-box {
    padding: 30px;
    width: 50%;
    height: 50%;
    background-color: #ffffff;
    margin-top: 0px;
   

}

.login-box h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.login-box p {
    margin-bottom: 20px;
    color: #666;
}

.input-box {
    margin-bottom: 15px;
}

.input-box label {
    display: flexbox;
    font-weight: bold;
    margin-bottom: 5px;
    
  
}

.input-box input {
    width:220px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
   
}

.sign-in-btn {
    width: 100%;
    display: inline-block;
    padding: 10px 20px; 
    background-color: #008080;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 15px;
    transition: background-color 0.3s;
 
}
.google-btn {
 width:100%;
 height:40px;
}

.vector-container{
    position:relative;
    width: 0px;
    height: 1px;
    opacity: 0.1px;
    margin-left: 50px;
    bottom: 50;

}
.vector1{
    width: 800px;
    height:750px;
    top: 0;
    margin-left: 150px;
}